<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="com.springcore.constDI.Car"></bean>
    <bean id="driver" class="com.springcore.constDI.Driver"></bean>
    <bean id="passenger" class="com.springcore.constDI.Passenger"></bean>
    <bean id="trip" class="com.springcore.constDI.Trip">
    	<constructor-arg index="0" ref="car"></constructor-arg>
    	<constructor-arg index="1" ref="driver"></constructor-arg>
    	<constructor-arg index="2" ref="passenger"></constructor-arg>
    </bean>
    
   </beans>